/* ------------------------------------ *\
    $MIXINS
\* ------------------------------------ */

/**
 * Standard paragraph
 */
@mixin p {
  line-height: 1.5;
  font-family: $ff-font;
  font-size: $body-font-size;

  @media print {
    font-size: 12px;
    line-height: 1.3;
  }
}

/**
 * String interpolation function for SASS variables in SVG Image URI's
 */
@function url-friendly-color($color) {
  @return "%23" + str-slice("#{$color}", 2, -1);
}

@mixin u-text--primary {
  font-size: $body-font-size;
  letter-spacing: $letter-spacing-quaternary;
}

.u-text--primary {
  @include u-text--primary;
}


/**
 * Responsive Font used in home page hero rotating text
 */
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin fluid-type($min-vw-xxl, $max-vw-xxl, $min-font-size-xxl, $max-font-size-xxl) {
  $u1: unit($min-vw-xxl);
  $u2: unit($max-vw-xxl);
  $u3: unit($min-font-size-xxl);
  $u4: unit($max-font-size-xxl);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size-xxl;

      @media screen and (min-width: $min-vw-xxl) {
        font-size: calc(#{$min-font-size-xxl} + #{strip-unit($max-font-size-xxl - $min-font-size-xxl)} * ((100vw - #{$min-vw-xxl}) / #{strip-unit($max-vw-xxl - $min-vw-xxl)}));
      }
      @media screen and (min-width: $max-vw-xxl) {
        font-size: $max-font-size-xxl;
      }
    }
  }
}

@mixin fluid-type($min-vw-xl, $max-vw-xl, $min-font-size-xl, $max-font-size-xl) {
  $u1: unit($min-vw-xl);
  $u2: unit($max-vw-xl);
  $u3: unit($min-font-size-xl);
  $u4: unit($max-font-size-xl);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size-xl;
      @media screen and (min-width: $min-vw-xl) {
        font-size: calc(#{$min-font-size-xl} + #{strip-unit($max-font-size-xl - $min-font-size-xl)} * ((100vw - #{$min-vw-xl}) / #{strip-unit($max-vw-xl - $min-vw-xl)}));
      }
      @media screen and (min-width: $max-vw-xl) {
        font-size: $max-font-size-xl;
      }
    }
  }
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size-xl-alt, $max-font-size-xl-alt) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size-xl-alt);
  $u4: unit($max-font-size-xl-alt);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size-xl-alt;
      //line-height: $min-font-size-xl-alt;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size-xl-alt} + #{strip-unit($max-font-size-xl-alt - $min-font-size-xl-alt)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        //line-height: calc(#{$min-font-size-xl-alt} + #{strip-unit($max-font-size-xl-alt - $min-font-size-xl-alt)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size-xl-alt;
        //line-height: $max-font-size-xl-alt;
      }
    }
  }
}